$primary-normal: #1253fa;

body {
  @apply overflow-x-hidden;
  font-family: 'Poppins', sans-serif;
}

.navlink {
  position: relative;

  box-shadow: inset 0 0 0 0 $primary-normal;
  margin: 0 -0.5rem;
  padding: 0.25rem 0.5rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:focus {
    outline: none;
    box-shadow: inset 100px 0 0 0 $primary-normal;
    color: white;

    &:hover {
      color: white;
    }
  }

  &:hover::after {
    transform-origin: left;
    transform: scaleX(1);
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    @apply bg-primary-normal transition-transform ease-in duration-300;

    transform: scaleX(0);
    transform-origin: right;
  }
}

.navlink__flash {
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 0;
  @apply rounded-lg text-white;

  &::before {
    content: '';
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(2px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    @apply rounded-lg;
  }

  &::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    @apply rounded-lg;
  }

  &:focus {
    transform: scale(1.1);
    @apply transition-transform ease-out;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
